<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/community.css">
    <script src="https://kit.fontawesome.com/c633279bec.js" crossorigin="anonymous">
    </script>
</head>
<body>
    <!-- 배너 -->
    <%- include('./templates/comheader.ejs') %>
    <div id="rate">
    <!-- 2등 배너 -->
      <a href = "/drinkdetail/<%= customDrink[1].recipe_num %>" >
        <div class="second">
          <img class="secondImg" src="../img/coffee.png" alt="">
          <div class="sticker">2등</div>
                <div class="info1">
                  <div><%- customDrink[1].recipe_name %></div>
                  <div>주문수</div><span><%- customDrink[1].total_order_num %></span>
                  <div>좋아요 수</div><span><%- customDrink[1].like_num %></span>
                  <div><%- customDrink[1].recipe_price %></div>
                </div>
          </div>
        </a>
        <!-- 1등배너 -->
        <a href = "/drinkdetail/<%= customDrink[0].recipe_num %>" >
        <div class="first">
          <img class="firstImg" src="../img/coffee.png" alt="">
          <div class="info2">
            <div><%- customDrink[0].recipe_name %></div>
            <div>주문수</div><span><%- customDrink[0].total_order_num %></span>
            <div>좋아요 수</div><span><%- customDrink[0].like_num %></span>
            <div><%- customDrink[0].recipe_price %></div>
          </div>
        </div>
        </a>
        <!-- 3등배너 -->
        <a href = "/drinkdetail/<%= customDrink[2].recipe_num %>" >
        <div class="third">
          <img class="thirdyimg" src="../img/coffee.png" alt="">
          <div class="info3">
            <div><%- customDrink[2].recipe_name %></div>
            <div>주문수</div><span><%- customDrink[2].total_order_num %></span>
            <div>좋아요 수</div><span><%- customDrink[2].like_num %></span>
            <div><%- customDrink[2].recipe_price %></div>
          </div>
        </div>
        </a>
      </div>

    <!--메뉴 목록-->
    <div class="menutype">
        <button class="popular">인기순</button>
        <button class="like">좋아요순</button>
        <button class="user">이달의 회원</button>
    </div>

    <!-- 검색창 -->
    <form class="searchWrapper" action="/community/search" method="post">
      <input type="text" class="drinkSearch" name="hashtag" placeholder="#해시 태그">
      <button class="searchBtn" type="submit">검색</button>
    </form>
      
    
    <!-- 음료 -->
    <section id="product1" class="section-p1">
        <div class="pro-container">
            <!-- 반복문 생성! -->
            <% for (let i = 0; i < customDrink.length ; i++) { %>
                <a href = "/drinkdetail/<%= customDrink[i].recipe_num %>" >
                  <div class="pro">
                    <img src="../img/coffee.png" alt="">
                    <div class="des">
                      <div class="drinkName" > <%- customDrink[i].recipe_name %></div>
                      <h3>레시피</h3>
                      <h6>주문수</h6><h7><%- customDrink[i].total_order_num %></h7>
                      <h6>좋아요 수</h6><h7><%- customDrink[i].like_num %></h7>
                      <h4><%- customDrink[i].recipe_price %></h4>
                      <input type="hidden" name="menuNumber" value="<%=customDrink[i].recipe_num%>">
                    </div>
                  </div>
                </a>              
            <% } %>

        </div>
    </section>
</body>
<%-include('./templates/footer.ejs')%>
</html>