<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/community.css">
    <script src="https://kit.fontawesome.com/c633279bec.js" crossorigin="anonymous">
    </script>
</head>
<body>
    <!-- 배너 -->
    <%- include('./templates/comheader.ejs') %>
    <div id="rate">
        <div class="second">
          <img class="secondImg" src="../img/coffee.png" alt="">
          <div class="sticker">2등</div>
                <div class="info1">
                  <div><%- custumDrink[1].recipe_name %></div>
                  <div>주문수</div><span><%- custumDrink[1].total_order_num %></span>
                  <div>좋아요 수</div><span><%- custumDrink[1].like_num %></span>
                  <div><%- custumDrink[1].recipe_price %></div>
                </div>
          </div>

        
        <div class="first">
          <img class="firstImg" src="../img/coffee.png" alt="">
          <div class="info2">
            <div><%- custumDrink[0].recipe_name %></div>
            <div>주문수</div><span><%- custumDrink[0].total_order_num %></span>
            <div>좋아요 수</div><span><%- custumDrink[0].like_num %></span>
            <div><%- custumDrink[0].recipe_price %></div>
          </div>
        </div>
        <div class="third">
          <img class="thirdyimg" src="../img/coffee.png" alt="">
          <div class="info3">
            <<div><%- custumDrink[2].recipe_name %></div>
            <div>주문수</div><span><%- custumDrink[2].total_order_num %></span>
            <div>좋아요 수</div><span><%- custumDrink[2].like_num %></span>
            <div><%- custumDrink[2].recipe_price %></div>
          </div>
        </div>
      </div>

    <!--메뉴 목록-->
    <div class="menutype">
        <button class="popular">인기순</button>
        <button class="like">좋아요순</button>
        <button class="user">이달의 회원</button>
    </div>

    <form class="searchWrapper" action="search" method="get">
      <input type="text" class="drinkSearch" name="key" placeholder="검색할 내용을 입력해주세요">
      <button class="searchBtn" type="submit">검색</button>
    </form>
      
    
    <!-- 음료 -->
    <section id="product1" class="section-p1">
        <div class="pro-container">
            <!-- 반복문 생성! -->
            <% for (let i = 0; i < custumDrink.length ; i++) { %>
                <a href = "/drinkdetail/<%= custumDrink[i].recipe_num %>" >

                  <div class="pro">
                    <img src="../img/coffee.png" alt="">
                    <div class="des">
                      <div class="drinkName" > <%- custumDrink[i].recipe_name %></div>
                      <h3>레시피</h3>
                      <h6>주문수</h6><h7><%- custumDrink[i].total_order_num %></h7>
                      <h6>좋아요 수</h6><h7><%- custumDrink[i].like_num %></h7>
                      <h4><%- custumDrink[i].recipe_price %></h4>
                      <p> <%- hashtag.name %></p>
                      <input type="hidden" name="manuNumber" value="<%=custumDrink[i].recipe_num%>">
                    </div>
                  </div>
                </a>              
            <% } %>

        </div>
    </section>
</body>
<%-include('./templates/footer.ejs')%>
</html>