<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>커스텀 커피 만들기</title>
    <link rel="stylesheet" href="../css/custom.css">

</head>

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="styles.css">
  <title>Row Toggle</title>
</head>

<body>
    <%- include('./templates/header.ejs') %>
    <h2>커스텀 커피 만들기</h2>

    <form action="/custom/makedrink" method="post">
    <table id="mlTable">
        <thead>
            <tr>
                <th></th>
                <th>이름</th>
                <th>선택</th>
                <th>ml</th>
                <th>개수</th>
                <th>총 ml</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <!-- 컵 행 -->
            <tr>
                <td></td>
                <td>컵</td>
                <td>
                    <!-- <select class="base" onchange="updateBase(this)"> -->
                        <select name="cupSize" onchange="updateCupSize(this);">
                            <option id="non" value="0" data-value="0">선택</option>
                            <option id="cup1" value="작은컵" data-value="355">작은컵 355ml</option>
                            <option id="cup2" value="중간컵" data-value="473">중간컵 473ml</option>
                            <option id="cup3" value="큰컵" data-value="591">큰컵 591ml</option>
                        </select>
                </td>
                <td id="baseMl"></td>
                <td>
                </td>
                <td></td>
                <td></td>
            </tr>
            <!-- 베이스 행 -->
            <tr>
                <td></td>
                <td>베이스</td>
                <td>
                    <!-- <select class="base" onchange="updateBase(this)"> -->
                        <select name="base" id="base">
                            <option value="0">선택</option>
                            <% for (let i = 0; i < value1.length; i++) { %>
                                <option value="<%= value1[i].name %>"><%= value1[i].name %></option>
                            <% } %>
                        </select>
                </td>
                <td id="baseMl"></td>
                <td>
                    <div class="count-wrap _count">
                        <input type="number" id="quantity_order" class="quantity" value="1" min="1"
                        onchange="updateTotalMl()">
                    </div>
                </td>
                <td id="totalBaseMl"></td>
                <td><button onclick="showRow1()">재료추가</button></td>
            </tr>

            <!-- 재료 1 -->
            <tr id="ingredient">
                <td><button class="delete-btn" onclick="deleteRow1()">삭제</button></td>
                
                <td>재료</td>

                <td>
                    <!-- <select onchange="updateingredientMl(this)"> -->
                        <select name="ing1" id="ing1">
                            <option value="0">선택</option>
                            <% for (let i = 0; i < value2.length; i++) { %>
                                <option value="<%= value2[i].name %>"><%= value2[i].name %></option>
                            <% } %>
                        </select>
                </td>
                

                <td>
                    <p class="ingredientMl"></p>
                </td>

                <td>
                    <div class="count-wrap _count">
                    <input type="number" id="quantity_order2" class="quantity" value="1" min="1" onchange="updatetotalingredientMl(this)">
                    </div>
                </td>
                <td><p class="totalingredientMl"></p></td>
                <td><button onclick="showRow2()">재료추가</button></td>
            </tr>

            <!-- 재료 2 -->
            <tr id="ingredient2">
                <td><button class="delete-btn" onclick="deleteRow2()">삭제</button></td>
                
                <td>재료2</td>

                <td>
                    <!-- <select onchange="updateingredientMl(this)"> -->
                        <select name="ing2" id="ing2">
                            <option value="0">선택</option>
                            <% for (let i = 0; i < value2.length; i++) { %>
                                <option value="<%= value2[i].name %>"><%= value2[i].name %></option>
                            <% } %>
                        </select>
                </td>
                

                <td>
                    <p class="ingredientMl"></p>
                </td>

                <td>
                    <div class="count-wrap _count">
                    <input type="number" id="quantity_order2" class="quantity" value="1" min="1" onchange="updatetotalingredientMl(this)">
                    </div>
                </td>
                <td><p class="totalingredientMl"></p></td>
                <td><button onclick="showRow3()">재료추가</button></td>
            </tr>

            <!-- 재료 3 -->
            <tr id="ingredient3">
                <td><button class="delete-btn" onclick="deleteRow3()">삭제</button></td>
                
                <td>재료3</td>

                <td>
                    <!-- <select onchange="updateingredientMl(this)"> -->
                        <select name="ing3" id="ing3" >
                            <option value="0">선택</option>
                            <% for (let i = 0; i < value2.length; i++) { %>
                                <option value="<%= value2[i].name %>"><%= value2[i].name %></option>
                            <% } %>
                </td>
                

                <td>
                    <p class="ingredientMl"></p>
                </td>

                <td>
                    <div class="count-wrap _count">
                    <input type="number" id="quantity_order2" class="quantity" value="1" min="1" onchange="updatetotalingredientMl(this)">
                    </div>
                </td>
                <td><p class="totalingredientMl"></p></td>
                <td><button onclick="showRow4()">재료추가</button></td>
            </tr>

            <!-- 재료 4 -->
            <tr id="ingredient4">
                <td><button class="delete-btn" onclick="deleteRow4()">삭제</button></td>
                
                <td>재료4</td>

                <td>
                    <!-- <select onchange="updateingredientMl(this)"> -->
                        <select name="ing4" id="ing4" onchange="updateingredientMl(this)">
                            <option value="0">선택</option>
                            <% for (let i = 0; i < value2.length; i++) { %>
                                <option value="<%= value2[i].name %>"><%= value2[i].name %></option>
                            <% } %>
                        </select>
                </td>
                

                <td>
                    <p class="ingredientMl"></p>
                </td>

                <td>
                    <div class="count-wrap _count">
                    <input type="number" id="quantity_order2" class="quantity" value="1" min="1" onchange="updatetotalingredientMl(this)">
                    </div>
                </td>
                <td><p class="totalingredientMl"></p></td>
                <td><button onclick="showRow5()">재료추가</button></td>
            </tr>
            

            <!-- 재료 5 -->
            <tr id="ingredient5">
                <td><button class="delete-btn" onclick="deleteRow5()">삭제</button></td>
                
                <td>재료5</td>

                <td>
                    <select name="ing5" id="ing5">
                        <option value="0">선택</option>
                        <% for (let i = 0; i < value2.length; i++) { %>
                            <option value="<%= value2[i].name %>"><%= value2[i].name %></option>
                        <% } %>
                    </select><br>
                </td>
                

                <td>
                    <p class="ingredientMl"></p>
                </td>

                <td>
                    <div class="count-wrap _count">
                    <input type="number" id="quantity_order2" class="quantity" value="1" min="1" onchange="updatetotalingredientMl(this)">
                    </div>
                </td>
                <td><p class="totalingredientMl"></p></td>
                <td></td>
            </tr>
        </tbody>
    </table>


    <input type="text" id="hashtag" name="hashtag" placeholder="#해시태그"><br>
    <input type="text"   id="comment"   name="comment" placeholder="설명 입력" ><br>
    <input type="text"   name = "name"  placeholder="레시피 이름" ><br>
    <label for="shareis">공유 여부를 선택</label>
    <input type="checkbox" id="shareis" name="shareis"><br>
    <p>컵 사이즈: <span id="cupSize">0</span>ml</p>
    <p>총 ml 수: <span id="totalMlValue">0</span>ml</p>
    <button type="submit">등록</button>
     </div>
    </form>


    <!-- <button onclick="calculateTotal()">등록하기</button> -->

    <!-- <div id="totalMl">
        <select class="cup-size" onchange="updateCupSize(this);">
            <option class="non" value="0">선택</option>
            <option class="cup1" value="355">작은컵 355ml</option>
            <option class="cup2" value="473">중간컵 473ml</option>
            <option class="cup3" value="591">큰컵 591ml</option>
        </select>
        <p>컵 사이즈: <span id="cupSize">0</span>ml</p>
        <p>총 ml 수: <span id="totalMlValue">0</span>ml</p>
        
    </div> -->

    <script src="../js/custom.js"></script>
</body>

</html>

